<div class="f1-menu-container">
  <h1 class="f1-menu-title">🏁 TC Challenge Hub</h1>
  <p class="f1-menu-subtitle">
    Elegí tu modo de juego y poné a prueba tus conocimientos del Turismo
    Carretera!
    <br />
    <br />
    Llegó BoxTC! Divertite y probá tu conocimiento del TC ahora!
  </p>

  <div class="f1-game-grid">
    <!-- Impostor Game -->
    <div
      class="f1-game-card"
      [ngClass]="{
        'f1-win': gameStatuses.impostor === 'win',
        'f1-lost': gameStatuses.impostor === 'lost',
      }"
    >
      <div class="f1-game-image">
        <!-- Tu imagen va acá -->
        <img src="impostor.png" alt="Impostor Game" />
      </div>
      <div class="f1-game-info">
        <h3>BoxTC Impostor</h3>
        <p>
          Detecta los impostores de la grilla. Basado en estadísticas reales
        </p>
        <button class="f1-play-btn" routerLink="/play/impostor">PLAY</button>
      </div>
    </div>

    <!-- Top 10 Game -->
    <div
      class="f1-game-card"
      [ngClass]="{
        'f1-win': gameStatuses.best10 === 'win',
        'f1-lost': gameStatuses.best10 === 'lost',
      }"
    >
      <div class="f1-game-image">
        <img src="top10.png" alt="Top 10 Game" />
      </div>
      <div class="f1-game-info">
        <h3>BoxTC Top 10</h3>
        <p>
          Adivina el top 10 de pilotos, equipos o circuitos para una estadística
          determinada.
        </p>
        <button class="f1-play-btn" routerLink="/play/best10">PLAY</button>
      </div>
    </div>

    <!-- Wordle Game -->
    <div
      class="f1-game-card"
      [ngClass]="{
        'f1-win': gameStatuses.wordle === 'win',
        'f1-lost': gameStatuses.wordle === 'lost',
      }"
    >
      <div class="f1-game-image">
        <img src="wordle.png" alt="Wordle Game" />
      </div>
      <div class="f1-game-info">
        <h3>BoxTC Wordle</h3>
        <p>
          Adivina el piloto, equipo o circuito escondido en hasta 6 intentos.
        </p>
        <button class="f1-play-btn" routerLink="/play/wordle">PLAY</button>
      </div>
    </div>

    <!-- Connections Game -->
    <div
      class="f1-game-card"
      [ngClass]="{
        'f1-win': gameStatuses.connections === 'win',
        'f1-lost': gameStatuses.connections === 'lost',
      }"
    >
      <div class="f1-game-image">
        <img src="connections.png" alt="Connections Game" />
      </div>
      <div class="f1-game-info">
        <h3>BoxTC Conexiones</h3>
        <p>
          Puedes adivinar las conexiones entre pilotos, equipos o circuitos?
        </p>
        <button class="f1-play-btn" routerLink="/play/connections">PLAY</button>
      </div>
    </div>

    <!--<div
      class="f1-game-card"
      [ngClass]="{
        'f1-win': gameStatuses.guessTeams === 'win',
        'f1-lost': gameStatuses.guessTeams === 'lost',
      }"
    >
      <div class="f1-game-image">
        <img src="guess-teams-1.png" alt="Connections Game" />
      </div>
      <div class="f1-game-info">
        <h3>BoxTC Guess Teams</h3>
        <p>¿Podrás adivinar el equipo y todos los miembros del equipo?</p>
        <button class="f1-play-btn" routerLink="/play/guess-teams">PLAY</button>
      </div>
    </div>

    <div
      class="f1-game-card"
      [ngClass]="{
        'f1-win': gameStatuses.h2h === 'win',
        'f1-lost': gameStatuses.h2h === 'lost',
      }"
    >
      <div class="f1-game-image">
        <img src="h2h.png" alt="h2h Game" />
      </div>
      <div class="f1-game-info">
        <h3>BoxTC Head To Head</h3>
        <p>¿Podrás adivinar el ganador en una comparación cabeza a cabeza?</p>
        <button class="f1-play-btn" routerLink="/play/h2h">PLAY</button>
      </div>
    </div>

    <div
      class="f1-game-card"
      [ngClass]="{
        'f1-win': gameStatuses.guessCareers === 'win',
        'f1-lost': gameStatuses.guessCareers === 'lost',
      }"
    >
      <div class="f1-game-image">
        <img src="guess_careers.png" alt="Guess Driver Game" />
      </div>
      <div class="f1-game-info">
        <h3>BoxTC Guess Driver</h3>
        <p>¿Podrás adivinar el piloto por sus equipos de carrera?</p>
        <button class="f1-play-btn" routerLink="/play/guess-careers">
          PLAY
        </button>
      </div>
    </div>-->

    <div
      class="f1-game-card"
      [ngClass]="{
        'f1-win': gameStatuses.timeline === 'win',
        'f1-lost': gameStatuses.timeline === 'lost',
      }"
    >
      <div class="f1-game-image">
        <img src="timeline.png" alt="Timeline Game" />
      </div>
      <div class="f1-game-info">
        <h3>BoxTC Timeline</h3>
        <p>Coloca los eventos dados en el orden correcto para ganar!</p>
        <button class="f1-play-btn" routerLink="/play/timeline">PLAY</button>
      </div>
    </div>

    <div
      class="f1-game-card"
      [ngClass]="{
        'f1-win': gameStatuses.guessPodiums === 'win',
        'f1-lost': gameStatuses.guessPodiums === 'lost',
      }"
    >
      <div class="f1-game-image">
        <img src="podiums.png" alt="Podiums Game" />
      </div>
      <div class="f1-game-info">
        <h3>BoxTC Podiums</h3>
        <p>Adivina el orden de los pilotos en el podio!</p>
        <button class="f1-play-btn" routerLink="/play/guess-podiums">
          PLAY
        </button>
      </div>
    </div>
  </div>
</div>
