<nav class="navbar">
  <div class="logo"><img src="BoxTC.jpg" alt="" /></div>
  <ul class="list">
    <li routerLink="/">Juegos</li>
    <li routerLink="/news">Noticias</li>
    <li routerLink="/about-us">Sobre nosotros</li>
    <li routerLink="/contact-us">Contacto</li>
    <li *ngIf="user?.status === 'active'" (click)="goToCreate()">
      Crear Artículo
    </li>
    <li
      *ngIf="user?.status === 'active'"
      routerLink="/my-articles/{{ user?.id }}"
    >
      Mis Articulos
    </li>
  </ul>
  <app-follow-us class="follow-us-container"></app-follow-us>
</nav>
