<div class="f1-mode-wrapper">
  <div class="f1-mode-selector">
    <h2 class="f1-mode-title">BoxTC Top 10</h2>
    <p class="f1-mode-description">
      Elegí tu modo de juego y poné a prueba tus conocimientos del TC.<br />
      Podrás adivinar el Top 10 en orden?
    </p>

    <div class="f1-mode-buttons">
      <button
        (click)="timer = false"
        class="f1-mode-btn soft"
        [class.selected]="timer === false"
      >
        Modo Normal
      </button>
      <button
        (click)="timer = true"
        class="f1-mode-btn ultra"
        [class.selected]="timer === true"
      >
        Modo Contador (2 min)
      </button>
    </div>

    <button class="f1-start-btn" (click)="startGame()">Empezar</button>
  </div>

  <div class="f1-mode-image-placeholder">
    <!-- Acá podés poner la imagen del impostor -->
    <div class="f1-image-box">
      <img src="top10.png" alt="" />
    </div>
  </div>
</div>
