<div class="f1-mode-wrapper">
  <div class="f1-mode-selector">
    <h2 class="f1-mode-title">BoxTC Impostor</h2>
    <p class="f1-mode-description">
      Elegí tu modo de juego y poné a prueba tus conocimientos del TC.<br />
      Podrás detectar todos los inocentes o caeras ante el impostor?
    </p>

    <div class="f1-mode-buttons">
      <button
        (click)="gameMode = 'normal'"
        class="f1-mode-btn soft"
        [class.selected]="gameMode === 'normal'"
      >
        Modo Normal
      </button>
      <button
        (click)="gameMode = 'byOne'"
        class="f1-mode-btn ultra"
        [class.selected]="gameMode === 'byOne'"
      >
        Modo uno a uno
      </button>
    </div>

    <button class="f1-start-btn" (click)="startGame()">Empezar</button>
  </div>

  <div class="f1-mode-image-placeholder">
    <!-- Acá podés poner la imagen del impostor -->
    <div class="f1-image-box">
      <img src="impostor.png" alt="" />
    </div>
  </div>
</div>
