<div class="f1-mode-wrapper">
  <div class="f1-mode-selector">
    <h2 class="f1-mode-title">BoxTC Guess Driver</h2>
    <p class="f1-mode-description">
      Elegí tu modo de juego y poné a prueba tus conocimientos del TC.<br />
      ¿Podrás adivinar al piloto por sus equipos de carrera?
    </p>

    <div class="f1-mode-buttons">
      <button
        (click)="timer = false"
        class="f1-mode-btn soft"
        [class.selected]="timer === false"
      >
        Modo Normal
      </button>
    </div>

    <button class="f1-start-btn" (click)="startGame()">Empezar</button>
  </div>

  <div class="f1-mode-image-placeholder">
    <div class="f1-image-box">
      <img src="guess-drivers.png" alt="" />
    </div>
  </div>
</div>
