/* You can add global styles to this file, and also import other style files */
body {
  background-color: #0a1424;
}
@font-face {
  font-family: "f1Black";
  src: url("../public/Formula1-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "f1Bold";
  src: url("../public/Formula1-Bold-4.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "f1BoldWeb";
  src: url("../public/Formula1-Bold_web.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "f1Italic";
  src: url("../public/Formula1-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "f1Regular";
  src: url("../public/Formula1-Regular-1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "f1Wide";
  src: url("../public/Formula1-Wide.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color: #0a1424; /* azul oscuro del fondo */
  --accent-color: #a1e600; /* verde exacto del logo */
  --secondary-color: #13203a; /* azul intermedio para navbar */
  --text-color: #f5f5f5; /* blanco */
  --correct-color: #00e676; /* verde correcto */
  --present-color: #ffe32d; /* amarillo vibrante */
  --absent-color: #7f8c8d; /* gris */
  --cell-border: #1c2a40; /* borde gris azulado */
  --font-main: "Orbitron", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
