<div class="mode-selector-container">
  <div class="mode-selector">
    <h2>Selecciona tu Modo de Juego</h2>

    <div class="mode-buttons">
      <button class="mode-btn normal-mode" (click)="selectMode('normal')">
        <span class="mode-title">Modo Normal</span>
        <span class="mode-description"
          >Adivina los 3 pilotos<br />y los 3 autos juntos</span
        >
      </button>

      <button class="mode-btn one-by-one-mode" (click)="selectMode('byOne')">
        <span class="mode-title">Modo Uno x Uno</span>
        <span class="mode-description"
          >Adivina cada piloto<br />y auto de uno en uno</span
        >
      </button>
    </div>
  </div>
</div>
